@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Josefin Sans;
    font-weight: 400;
    src: url(https://fonts.google.com/specimen/Josefin+Sans);
  }
  @font-face {
    font-family: Josefin Sans;
    font-weight: 700;
    src: url(https://fonts.google.com/specimen/Josefin+Sans);
  }
  body {
    @apply block h-screen w-full max-w-3xl mx-auto overflow-hidden bg-mobile-light 
    bg-no-repeat bg-contain sm:bg-desktop-light sm:bg-no-repeat sm:bg-contain font-josefin-sans;
  }
}
